body {
    background: linear-gradient(to right, #273445, #95a3ab, #273445);
}

html, body, h1, h2, h3, h4, h5, h6, a{
    font-family:'Conv_iosevka-regular',sans-Serif;
    color: #fafafa;
    text-decoration: none;
}

hr {
    border: none;
    height: 1px;
    color: #fafafa;
    background-color: #fafafa;
}

a {
    color: #3689e6;
}

a:hover {
    color: #a56de2
}

.w3-bar-item {
    color: #fafafa;
}

.w3-content {
    background-color: #0e141f;
}

.w3-bar {
    background-color: #667885;
}

.w3-col {
    background-image: linear-gradient(to bottom right, #273445, #485a6c);
}

#work1 {
    background-image: linear-gradient(to bottom right, #cd9ef7, #e4c6fa);
}

#work2 {
    background-image: linear-gradient(to bottom right, #a56de2, #cd9ef7);
}

#work3 {
    background-image: linear-gradient(to bottom right, #7239b3, #a56de2);
}

#work4 {
    background-image: linear-gradient(to bottom right, #452981, #7239b3);
}
