body {
    background: linear-gradient(to right, #101010, #4d4d4d, #101010);
}

html, body, h1, h2, h3, h4, h5, h6, a {
    font-family:'Conv_iosevka-regular',sans-Serif;
    color: #fafafa;
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    color: #fafafa;
    background-color: #fafafa;
}

a:hover {
    color: #a56de2
}

#work {
    background-image: linear-gradient(to bottom right, #cd9ef7, #a56de2);
}

#content {
    background: #101010;
}

header {}